:root {
    --primaty-text-color:  #212121;
    --second-text-color: #757575;
    --accent-text-color: #2196F3;
    --logo-color: #000000;
    --white-text-color: #FFFFFF;
    --footer-background-color: #2F303A;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --primary-background-color:#FFFFFF;
    --second-background-color: #F5F4FA;
    --button-primary-background-color: #2196f3;
    --button-secondary-background-color: #f5f4fa;
    --secondary-background-color-hero-butto:#188CE8;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --element-portfolio: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
--color-link-web:#AFB1B8;
--cubic: cubic-bezier(0.4, 0, 0.2, 1);
--color-form: #21212133;
}