
  
  
  .footer{
    background-color: var(--footer-background-color);
    padding:  60px;
  }
  
  .footer-form {margin-left: auto;}

    .footer-title{
      font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-background-color);
    margin-bottom: 20px;
    }
    .team-icon__link{
      fill: var(--primary-background-color);
    }
  
    // .socials__item{
    //   background-color: rgba(255, 255, 255, 0.1);
    //   border-radius: 50%;
    // }
    
  
  .footer__container{display: flex;
    gap: 70px;
    align-items: baseline;
    }
  
  
  .adress{ font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 20px;
    transition: color 250ms var(--cubic);
    color: var(--white-text-color);
  
    &:hover,
    &:focus{color: var(--accent-text-color);}
  
  }
  
  .adress__link{font-style: normal;
      font-size: 14px;
      line-height: 1.71;
      transition: color 250ms var(--cubic);
      color: var(--footer-link-color);
    
      &:hover,
      &:focus{color: var(--accent-text-color);}

    }
  
    .adress__list{margin-bottom: 9px;
    
      &:nth-child(3) {
        margin-bottom: 0px;
      }

    }
  
    .terms__link{
      margin-left: 7px;
      color: var(--accent-text-color);
    }
    
    
    .footer-title{
      font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-background-color);
    margin-bottom: 20px;
    }
    .footer__cellar{
      display: flex;
      gap: 12px;
    }
    .footer__input{
     width: 358px;
     height: 50px;
     padding: 15px 16px;
     color: color rgba(255, 255, 255, 0.6);
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
     border: 1px solid rgba(255, 255, 255, 0.3);
     border-radius: 4px;
     background-color: var(--footer-background-color);}
    
    .form__icon__btn{
      margin-left: 10px;
      fill: var(--primary-background-color);
    }
    
    
  // .adress__list:nth-child(3) {
  //   margin-bottom: 0px;
  // }
  
  // .adress__link:hover,
  // .adress__link:focus{color: var(--accent-text-color);}
  
  // .adress:hover,
  // .adress:focus{color: var(--accent-text-color);}