.hero{
    padding: 200px 0;
    background-color: var(--footer-background-color);
    max-width: 1600px;
    margin: 0 auto;
    max-width: 1600px;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:linear-gradient( to right,
     rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../imeg/hero-sq.jpg);
  }
  

  .hero__title{font-family: 'Roboto';
    
    font-weight: 900;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    color: var(--white-text-color) 
  }
    
    

